<h1><%= @project.title %></h1>

<% if @project.volunteers.any? %>

<p>Click on a volunteer to edit their name or hours logged.</p>

<table class="table">
    <thead>
      <tr>
        <th>Volunteer Name</th>
        <th>Hours Logged</th>
      </tr>
    </thead>
    <tbody>
      <% @project.volunteers.each do |volunteer| %>

        <tr>
          <td><a href="/volunteers/<%=volunteer.id%>/edit"><%=volunteer.name%></a></td>
          <td><%=volunteer.hours%></td>
        </tr>

      <% end %>
    </tbody>
  </table>

<% else %>
<p>No volunteers have been added to this project yet!</p>
<% end %>

<a class = "btn btn-default" href="/projects/<%= @project.id %>/edit">Edit <%= @project.title %> Project</a>
<hr>
<a class = "btn btn-default" href="/">Return Home To Add Volunteers</a>
